<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaYwGASpy0yMg5bbuNt2A5_Qcp2NcL-a0</string>
	<key>GCM_SENDER_ID</key>
	<string>165355428371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finans.hub</string>
	<key>PROJECT_ID</key>
	<string>finanshub-aa04c</string>
	<key>STORAGE_BUCKET</key>
	<string>finanshub-aa04c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165355428371:ios:a425fab6b4bf1bd82afde6</string>
</dict>
</plist>